@{
    ViewData["Title"] = "Payment Cancelled";
    Layout = "_LayoutSeller";
}

<div class="container mt-5 text-center">
    <h2>Payment Unsuccessful!</h2>
    <p>Please make your payment again.</p>
    <a asp-controller="Seller" asp-action="Index" class="btn btn-success mt-3">Return to Merchant</a>
</div>
