@{
    ViewData["Title"] = "Product";
    Layout = "_LayoutSeller";
}
@model List<Product>;
<div class="row layout-top-spacing">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-8">
            <div id="ecommerce-list_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <div class="dt--top-section"></div>
                    <table id="ecommerce-list" class="table dt-table-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="ecommerce-list_info">
                        <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="ecommerce-list" rowspan="1" colspan="1" aria-label="Product:" style="width: 239px;">Product</th>
                                <th tabindex="0" aria-controls="ecommerce-list" rowspan="1" colspan="1" aria-label="Status: " style="width: 115px;">Status</th>
                                <th tabindex="0" aria-controls="ecommerce-list" rowspan="1" colspan="1" aria-label="Action: " style="width: 70px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if (Model.Count > 0)
                        {
                            @foreach (var data in Model)
                            {
                                <tr role="row px-3">
                                    <td>
                                        <div class="d-flex justify-content-left align-items-center">
                                            <div class="d-flex flex-column">
                                                <span class="text-truncate fw-bold">@data.Name</span>
                                            </div>
                                        </div>
                                    </td>
                                    @{
                                        string badge;
                                        string stock;
                                        if (data.ProductVariants.Count == 0)
                                        {
                                            badge = "badge badge-danger";
                                            stock = "No item";
                                        }
                                        else
                                        {
                                            badge = "badge badge-success";
                                            stock = $"{data.ProductVariants.Count} in stock";
                                        }
                                    }
                                    <td><span class="@badge">@stock</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                                <a class="dropdown-item" asp-controller="Seller" asp-action="ProductDetails" asp-route-Id="@data.Id">View</a>
                                                <a class="dropdown-item" href="javascript:void(0);">Edit</a>
                                                <a class="dropdown-item">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">No item yet</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div><div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center"><div class="dt--pages-count  mb-sm-0 mb-3"><div class="dataTables_info" id="ecommerce-list_info" role="status" aria-live="polite">Showing page 1 of 2</div></div><div class="dt--pagination"><div class="dataTables_paginate paging_simple_numbers" id="ecommerce-list_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="ecommerce-list_previous"><a href="#" aria-controls="ecommerce-list" data-dt-idx="0" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="ecommerce-list" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="ecommerce-list" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="ecommerce-list_next"><a href="#" aria-controls="ecommerce-list" data-dt-idx="3" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a></li></ul></div></div></div>
            </div>
        </div>
    </div>

</div>