@{
    ViewData["Title"] = "Create Product";
    Layout = "_LayoutSeller";
}
@model Product;
<div class="row mb-4 layout-spacing layout-top-spacing">

    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <div class="widget-content widget-content-area ecommerce-create-section p-4">
            <form asp-controller="Seller" asp-action="ProductAdd" method="post" enctype="multipart/form-data">
                <div class="row mb-4">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Product Name">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12">
                        <label>Description</label>

                        <textarea class="form-control" asp-for="Details" rows="10"></textarea>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-12 text-end">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>
@section Scripts {
    <script>
        var quill = new Quill('#product-description', {
            theme: 'snow'
        });

        // copy editor content to hidden field on form submit
        document.querySelector("form").addEventListener("submit", function () {
            document.querySelector('input[name="Details"]').value = quill.root.innerHTML;
        });
    </script>
}