@{
    ViewData["Title"] = "Store Settings";
    Layout = "_LayoutSeller";
}

<div class="statbox widget box box-shadow">
    <div class="widget-header">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>System Settings</h4>
            </div>
        </div>
    </div>
    <div class="widget-content widget-content-area">

        <div class="row">
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="custom3d" name="custom3d" value="Enable">
                    <label class="form-check-label" for="custom3d">
                        3D Customizations
                    </label>
                </div>
                <button class="btn btn-success">Save changes</button>
            </div>
        </div>

    </div>
</div>